{% extends 'base.html' %}


{% load static %}
{% load menu_tags %}



{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}


{% block content %}
<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>{{ title }}</h3>
                    {% if quote %}
                        <p>{{ quote }}</p>
                    {% else %}
                        <p>"Welcome sleep."</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
    <section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                    <div class="col-md-12">
                        <div class="single-post-big">

                            {% with posts|first as last_post %}
                            <div class="big-image">
                                <img src="{{ last_post.photo.url }}" height="10">
                            </div>
                            <div class="big-text">
                                <h3><a href="{{last_post.get_absolute_url}}">{{ last_post }}</a></h3>
                                <p>{{ last_post.content|safe|truncatewords_html:75 }}</p>
                                <h4><span class="date">{{last_post.created_at|date:"d.m.Y"}}</span><span class="author">Posted By: <span class="author-name">{{last_post.author}}</span></span>
                                </h4>
                            </div>
                            {% endwith %}

                        </div>
                    </div>

                    {% for post in posts %}
                    <div class="col-md-3">
                        <div class="single-post">
                                <img alt="" class="float-left mr-3" src="{{ post.photo.url }}">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <span>{{ post.content|safe|truncatewords_html:20 }}</span>
                            <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span></h4>
                            <h4><span>{{ post.created_at|date:"d.m.Y"}}</span></h4>
                        </div>
                    </div>
                    {% endfor %}

            </div>
        </div>
    </div>
    {% include 'inc/_pagination.html' %}
</section>
{% endblock %}